<ion-view cache-view="false">
  <pay-le-header back="backNavigation"></pay-le-header>
  <div class="row fixed-margin-above-80">
    <span class="margin-lr-auto title-bar">{{title}}</span>
  </div>
  <!--<ion-content class="fixed-margin-above-88">
    <div class="list list-inset fixed-margin-above">
      <form class="form-horizontal" role="form" name="registrationForm" ng-submit="changePassword(registrationForm)">
        <div class="form-group">
          <span class="input-label full-width">Username <span class="required"> *</span></span>
          <label class="item item-input" ng-class="((formSubmitted || registrationForm.username.$touched) && registrationForm.username.$error.required) ? 'input-required' : ''">
            <input type="text" placeholder="Username" ng-model="basicUserDetails.username" name="username"  required>
          </label>
        </div>
        <div class="form-group">
          <span class="input-label full-width">Password <span class="required"> *</span></span>
          <label class="item item-input" ng-class="((formSubmitted || registrationForm.password.$touched) && registrationForm.password.$error.required) ? 'input-required' : ''">
            <input type="password" placeholder="Password" ng-model="basicUserDetails.password" name="password" ui-show-password required>
          </label>
        </div>

        <div class="form-group">
          <button type="submit" class="button button-block button-positive" ng-click="clickedSubmit()">Create Account</button>
        </div>
      </form>
    </div>
  </ion-content>-->

  <ion-content class="fixed-margin-above-110">
    <form class="form-horizontal" role="form" name="changePasswordForm">
      <!--<div class="card card-clean">-->
        <div class="list">
          <label class="item item-input item-stacked-label" ng-class="((formSubmitted || changePasswordForm.currentPassword.$touched) && changePasswordForm.currentPassword.$error.required) ? 'input-required' : ''" style="margin: 1%">
            <span class="input-label">{{"CURRENT_PASSWORD" | translate}}</span>
            <input type="text"
                   ng-show="showPasswordIsChecked"
                   placeholder="{{'CURRENT_PASSWORD' | translate}}"
                   ng-model="changePasswordReq.currentPassword"
                   name="currentPassword"
                   required>
            <input type="password"
                   ng-show="!showPasswordIsChecked"
                   placeholder="{{'CURRENT_PASSWORD' | translate}}"
                   name="currentPassword"
                   ng-model="changePasswordReq.currentPassword"
                   required>
          </label>

          <label class="item item-input item-stacked-label" ng-class="((formSubmitted || changePasswordForm.newPassword.$touched) && changePasswordForm.newPassword.$error.required) ? 'input-required' : ''" style="margin: 1%">
            <span class="input-label">{{"NEW_PASSWORD" | translate}}</span>
            <input type="text"
                   ng-show="showPasswordIsChecked"
                   placeholder="{{'NEW_PASSWORD' | translate}}"
                   ng-model="changePasswordReq.newPassword"
                   name="newPassword"
                   required>
            <input type="password"
                   ng-show="!showPasswordIsChecked"
                   placeholder="{{'NEW_PASSWORD' | translate}}"
                   name="newPassword"
                   ng-model="changePasswordReq.newPassword"
                   required>
          </label>

          <label class="item item-input item-stacked-label" ng-class="((formSubmitted || changePasswordForm.confirmPassword.$touched) && (changePasswordForm.confirmPassword.$error.required || changePasswordForm.confirmPassword.$error.compareTo))   ? 'input-required' : ''" style="margin: 1%">
            <span class="input-label">{{"CONFIRM_NEW_PASSWORD" | translate}}</span>
              <input type="text"
                     ng-show="showPasswordIsChecked"
                     placeholder="{{'CONFIRM_NEW_PASSWORD' | translate}}"
                     ng-model="changePasswordReq.confirmPassword"
                     match="changePasswordReq.newPassword"
                     name="confirmPassword"
                     required>
              <input type="password"
                     ng-show="!showPasswordIsChecked"
                     placeholder="{{'CONFIRM_NEW_PASSWORD' | translate}}"
                     ng-model="changePasswordReq.confirmPassword"
                     compare-to="changePasswordReq.newPassword"
                     name="confirmPassword"
                     required ng-pattern="/[\w\d]{3,15}/i">
          </label>
          <div class="error" style="margin:1%" ng-if="errorMessage">{{errorMessage}}</div>
          <div class="error" style="margin:1%" ng-if="changePasswordForm.confirmPassword.$error.compareTo && (formSubmitted || changePasswordForm.confirmPassword.$touched)">{{'CONFIRM_MUST_MATCH' | translate}}</div>
          <div style="text-align: right">
            <a class="button button-clear" ng-click="togglePW()" style="color:#7a7a7a; display: inline-flex">
              {{"SHOW_PASSWORD" | translate}} <i class="ion-eye" style="color:#387ef5; font-size: xx-large; padding: inherit;"  ng-show="showPasswordIsChecked"></i>
              <i class="ion-eye" style="color:#b2b2b2; font-size: xx-large; padding: inherit;" ng-show ="!showPasswordIsChecked"></i>
            </a>
          </div>
          <a class="button button-block custom-height-button" ng-click="changePassword(changePasswordForm.$valid)" style="line-height: 25px; margin: 0px 6px 5px 6px;  background-color: #1e5969; color: white;">{{'CHANGE_PASSWORD' | translate}}</a>
        </div>
     <!-- </div>-->
    </form>

  </ion-content>

</ion-view>
