<ion-view cache-view="false">
  <pay-le-header back="backNavigation"></pay-le-header>
  <div class="row fixed-margin-above-80">
    <span class="margin-lr-auto title-bar">{{title}}</span>
  </div>

  <ion-content class="fixed-margin-above-110">
    <div class="list list-inset " style="margin-top: 0px ">
      <form class="form-horizontal" role="form" name="merchantEditProfileForm">
        <div class="form-group">
          <span class="input-label full-width">{{'FIRST_NAME' | translate}} <span class="required"> *</span></span>
          <label class="item item-input" ng-class="((formSubmitted || merchantEditProfileForm.first_name.$touched) && merchantEditProfileForm.first_name.$error.required) ? 'input-required' : ''">
            <input type="text" placeholder="{{'FIRST_NAME' | translate}}" ng-model="merchant.firstName" name="first_name"  required>
          </label>
        </div>
        <div class="form-group">
          <span class="input-label full-width">{{'MIDDLE_NAME' | translate}}</span>
          <label class="item item-input" ng-class="((formSubmitted || merchantEditProfileForm.middle_name.$touched) && merchantEditProfileForm.middle_name.$error.required) ? 'input-required' : ''">
            <input type="text" placeholder="{{'MIDDLE_NAME' | translate}}" ng-model="merchant.middleName" name="middle_name" >
          </label>
        </div>
        <div class="form-group">
          <span class="input-label full-width">{{'LAST_NAME' | translate}} <span class="required"> *</span></span>
          <label class="item item-input" ng-class="((formSubmitted || merchantEditProfileForm.last_name.$touched) && merchantEditProfileForm.last_name.$error.required) ? 'input-required' : ''">
            <input type="text" placeholder="{{'LAST_NAME' | translate}}" ng-model="merchant.lastName" name="last_name"  required>
          </label>
        </div>
        <!--<div class="form-group">-->
          <!--<span class="input-label full-width">{{'NAME' | translate}} <span class="required"> *</span></span>-->
          <!--<label class="item item-input" ng-class="((formSubmitted || merchantEditProfileForm.name.$touched) && merchantEditProfileForm.name.$error.required) ? 'input-required' : ''">-->
            <!--<input type="text" placeholder="{{'FIRST_SECOND_AND_LAST' | translate}}" ng-model="merchant.name" name="name"  required>-->
          <!--</label>-->
        <!--</div>-->
        <div class="form-group">
          <span class="input-label full-width">{{'BUSINESS_NAME' | translate}} <span class="required"> *</span></span>
          <label class="item item-input" ng-class="((formSubmitted || merchantEditProfileForm.businessName.$touched) && merchantEditProfileForm.businessName.$error.required) ? 'input-required' : ''">
            <input type="text" placeholder="{{'BUSINESS_NAME' | translate}}" ng-model="merchant.businessName" name="businessName" required>
          </label>
        </div>
        <div class="form-group">
          <span class="input-label full-width">{{'REGION' | translate}} <span class="required"> *</span></span>
          <md-input-container class="custom-drop-down" ng-class="((formSubmitted || merchantEditProfileForm.region.$touched) && merchantEditProfileForm.region.$error.required) ? 'input-required' : ''">
            <!--<label>State</label>-->
            <md-select ng-model="merchant.region" name="region" ng-change="loadBanks(merchant.region)" required ng-disabled="true">
              <!--<md-option><em>None</em></md-option>-->
              <md-option ng-repeat="region in regions" ng-value="region.regionId" >
                {{region.name}} ({{region.regionCode}})
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="form-group">
          <span class="input-label full-width">{{'BANK' | translate}} <span class="required"> *</span></span>
          <md-input-container class="custom-drop-down" ng-class="((formSubmitted || merchantEditProfileForm.bank.$touched) && merchantEditProfileForm.bank.$error.required) ? 'input-required' : ''">
            <!--<label>State</label>-->
            <md-select ng-model="merchant.bankId" name="bank" required>
              <!--<md-option><em>None</em></md-option>-->
              <md-option ng-repeat="bank in banks" ng-value="bank.bankId" >
                {{bank.bankName}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="form-group">
          <span class="input-label full-width">{{'ACCOUNT_NUMBER' | translate}} <span class="required"> *</span></span>
          <label class="item item-input" ng-class="((formSubmitted || merchantEditProfileForm.iban.$touched) && merchantEditProfileForm.iban.$error.required) ? 'input-required' : ''">
            <input type="text" placeholder="IBAN" name="iban" ng-model="merchant.iban" ng-iban countrycodecheck required/>
          </label>
          <span class="error" ng-if="merchantEditProfileForm.iban.$error.countrycodecheck" ng-hide="merchantEditProfileForm.iban.$pristine || merchantEditProfileForm.iban.$error.required">country code not supported</span>
          <span class="error" ng-if="merchantEditProfileForm.iban.$invalid" ng-hide="merchantEditProfileForm.iban.$pristine || merchantEditProfileForm.iban.$error.countrycodecheck">Invalid IBAN</span>
        </div>
        <div class="form-group">
          <span class="input-label full-width">{{'MOBILE' | translate}} <span class="required"> *</span></span>
          <label class="item item-input" ng-class="((formSubmitted || merchantEditProfileForm.mobile.$touched) && merchantEditProfileForm.mobile.$error.required) ? 'input-required' : ''">
            <input type="tel" placeholder="{{'MOBILE' | translate}}" ng-model="merchant.mobile" name="mobile" required>
          </label>
        </div>
        <div class="form-group">
          <span class="input-label full-width">{{'EMAIL' | translate}} <span class="required"> *</span></span>
          <label class="item item-input" ng-class="((formSubmitted || merchantEditProfileForm.email.$touched) && (merchantEditProfileForm.email.$error.required || merchantEditProfileForm.email.$error.email)) ? 'input-required' : ''">
            <input type="email" placeholder="{{'EMAIL' | translate}}" ng-model="merchant.email" name="email" required>
          </label>
          <div class="error small-letters" style="padding-right:10px" ng-if="((formSubmitted || merchantEditProfileForm.email.$touched) && merchantEditProfileForm.email.$error.email)">{{'INVALID_EMAIL' | translate}}</div>
        </div>
        <div class="form-group">
          <span class="input-label full-width">{{'DATE_OF_BIRTH' | translate}} <span class="required"> *</span></span>
          <label class="item item-input" ng-class="((formSubmitted || merchantEditProfileForm.dob.$touched) && merchantEditProfileForm.dob.$error.required) ? 'input-required' : ''">
            <!--<input type="number" placeholder="Amount" ng-model="basicUserDetails.amount" name="amount" required>-->
            <div class="input-icon" ng-click="openDatePicker()">
              <i class="ion-android-calendar"></i>
              <input type="text" placeholder="{{'DATE_OF_BIRTH' | translate}}" ng-model="merchant.dateOfBirth" name="dob" required>
            </div>
          </label>
        </div>
        <!--<ion-checkbox ng-model="merchant.isSharingSocialMediaAccounts" style="border-width: 0px; margin-top: 1px;">{{'SHARE_SOCIAL' | translate}} ({{'OPTIONAL' | translate}})</ion-checkbox>-->
        <span class="input-label full-width">{{'SHARE_SOCIAL' | translate}}</span>
        <!--<div class="form-group item" ng-show="merchant.isSharingSocialMediaAccounts">-->
        <div class="form-group item">
          <div class="input-icon">
            <i class="ion-social-facebook" style="color: #3e5b98;"></i>
            <input type="text" class="full-width" placeholder="{{'ACCOUNT_NAME' | translate}}" ng-model="merchant.facebook">
          </div>
          <div class="input-icon">
            <i class="ion-social-twitter" style="color:#4da7de;"></i>
            <input type="text" class="full-width" placeholder="{{'ACCOUNT_NAME' | translate}}" ng-model="merchant.twitter">
          </div>
          <div class="input-icon">
            <i class="ion-social-instagram-outline" style="color: #ad9279"></i>
            <input type="text" class="full-width" placeholder="{{'ACCOUNT_NAME' | translate}}" ng-model="merchant.instagram">
          </div>
          <!--</label>-->
        </div>
        <div class="error" style="margin:1%" ng-if="errorMessage">{{errorMessage}}</div>
        <div class="form-group">
          <a class="button button-block custom-height-button" ng-click="editMerchant(merchantEditProfileForm.$valid)" style="line-height: 25px; background-color: #1e5969; color: white;">{{'EDIT_PROFILE' | translate}}</a>
        </div>
      </form>
    </div>
  </ion-content>

</ion-view>
