<ion-view>
  <pay-le-header back="back"></pay-le-header>
  <ion-content style="margin-top: 25%;">
    <div style="padding:5%;">
      <div style="text-align: center; padding:5%;">{{'REQUEST_FORGOT_INFO' | translate}}</div>
      <form  class="form-horizontal" role="form" name="forgotPasswordForm">
        <div class="list">
          <div class="form-group" style="margin-bottom: 3px">
            <label class="item item-input three-quarter-width" ng-class="((formSubmitted || forgotPasswordForm.email.$touched) && forgotPasswordForm.email.$error.required) ? 'input-required' : ''" style="height:35px; border-radius: 8px;">
              <div class="input-icon">
                <i class="ion-ios-email"></i>
                <input type="email" placeholder="{{'EMAIL' | translate}}" ng-model="forgotPasswordReq.email" name="email" required>
              </div>
            </label>
          </div>
          <!--<div class="form-group">-->
            <!--<label class="item item-input three-quarter-width" ng-class="((formSubmitted || forgotPasswordForm.merchantCode.$touched) && forgotPasswordForm.merchantCode.$error.required) ? 'input-required' : ''" style="height:35px; border-radius: 8px;">-->
              <!--<div class="input-icon">-->
                <!--<i class="ion-person"></i>-->
                <!--<input type="number" placeholder="{{'MERCHANT_CODE' | translate}}" ng-model="forgotPasswordReq.merchantCode" name="merchantCode" required>-->
              <!--</div>-->
            <!--</label>-->
          <!--</div>-->
          <div class="align-center three-quarter-width">
            <span class="error" ng-if="errorMessage" ng-hide="forgotPasswordForm.merchantCode.$error.required && forgotPasswordForm.email.$error.required">{{errorMessage}}</span>
          </div>
          <div class="align-center">
            <div class="align-center three-quarter-width">
              <a  name="login" class="button button-block custom-height-button full-width" ng-click="requestForgotPassword(forgotPasswordForm.$valid)" >
                {{'SUBMIT' | translate}}
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ion-content>

</ion-view>
